{% extends 'base.html' %}

{% block content %}


    <section class="py-3 container">
        <div class="row">
            <div class="col">
                <h1 class="fw-light">{{ blog.title }}</h1>
                <p class="lead text-muted">{{ blog.pub_date_short }}</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col">
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid img-thumbnail">
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <p>{{ blog.body }}...</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}