{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Full Stack Engineer</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Full Stack Enginneer with experience in the design, development and deployment of web
        applications. I have real world experience not just in web development, but many areas
        of business from Operations to Sales & Marketing.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold">See My Work</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Message Me</button>
      </div>
    </div>
  </div>
</div>
<!-- 
<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col-lg-4 col-md-4 mx-auto">
      <img class="img-fluid img-thumbnail" src="{% static 'KJeacocks_Portfolio_Image-01.jpg' %}" alt="Kayne Jeacocks">
    </div>
  <div class="col-lg-8 col-md-8">
      <h1 class="fw-light">Hello, I'm Kayne.</h1>
      <p class="lead text-muted">Web Developer with experience in the design, development and deployment of web
          applications. I have real world experience not just in web development, but many areas
          of business from Operations to Sales & Marketing.</p>
      <p>
      <a href="#" class="btn btn-primary my-2">Message me</a>
      <a href="#" class="btn btn-secondary my-2">See my work</a>
      </p>
  </div>
  </div>
</section> -->
    <div class="album py-5">
        <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"  data-masonry='{"percentPosition": true }'>

            {% for job in jobs.all %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ job.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="fw-light">{{ job.title }}</h2>
                      <p class="card-text">{{ job.summary }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <a href="{% url 'jobpage' job.id %}" class="btn btn-warning">See more</a>
                          <small class="text-muted">{{ job.job_date_short }}</small>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        </div>
    </div>
{% endblock %}